<template>
  <div class="app-container">
    点亮排行榜
  </div>

</template>

<script>
  export default {
    data() {
      return {}
    }
  }

</script>

<style>
  .el-table thead {
    color: #5c5c5c !important;
  }

  .page {
    float: right;
    padding: 10px 0;
  }

  .el-rate {
    padding-top: 10px;
  }

</style>
