<template>
  <div class="app-container">
    <div class="answer-detail">
        <el-row class="title">
            <el-col :span="12">
              <span>学员名：{{detail.name}}</span>
            </el-col>
            <el-col :span="12" >
              <span class="right">
                期号：{{detail.dateNum}}
              </span>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>{{detail.problems}}?</span>
                </div>
                <div class="text item">
                  {{detail.answer}}
                </div>
              </el-card>
            </el-col>
          </el-row>
    </div>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        detail: {
          name: '红红火火',
          dateNum: '232002',
          problems: '这是一个问题',
          answer: '这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案这里是答案≈'
        }
      }
    }
  }

</script>

<style>
  .answer-detail{
    width: 80%;
    margin: 30px auto 0;
  }
  .title {
    color: #333;
    font-size: 14px;
    padding-bottom: 40px;
  }
  .right{
    float: right;
  }

</style>
