<template>
  <div class="app-container">
    <el-table :data="answerData" border stripe style="width: 100%" height="500" :default-sort="{prop:'starNum',order:'descending'}">
      <el-table-column prop="dateNum" label="期号">
      </el-table-column>
      <el-table-column prop="problemNum" label="题号">
      </el-table-column>
      <el-table-column prop="complete" label="完成度">
        <template slot-scope="scope">
          <span>{{scope.row && scope.row.complete}}%</span>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="学员昵称">
      </el-table-column>
      <el-table-column prop="answerDetail" label="学员答案" >
        <template slot-scope="scope">
            <el-button size="mini" type="text">
                <router-link to="/answer/detail">
                  答案详解
                </router-link>
              </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="starNum" label="点赞数" sortable width="100">
      </el-table-column>
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button size="mini" @click="">点亮最佳</el-button>
          <el-button size="mini" @click="">取消最佳</el-button>
          <el-button size="mini" type="danger" @click="del(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-row class="page">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curpage"
          :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
        </el-pagination>
      </el-row>
  </div>
  

</template>

<script>
  export default {
    data() {
      return {
        answerData:[
          {
            dateNum:2001,
            problemNum:20012,
            complete:80,
            name:'妞妞儿',
            answerDetail:21,
            starNum:100
          },{
            dateNum:2001,
            problemNum:20012,
            complete:80,
            name:'妞妞儿2',
            answerDetail:21,
            starNum:201
          },{
            dateNum:2001,
            problemNum:20012,
            complete:80,
            name:'妞妞儿3',
            answerDetail:21,
            starNum:30
          },{
            dateNum:2001,
            problemNum:20012,
            complete:80,
            name:'妞妞儿4',
            answerDetail:21,
            starNum:1
          }
        ],
        curpage: 1,
      }
    },
    methods:{
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },
    }
  }

</script>

<style>
  .el-table thead {
    color: #5c5c5c !important;
  }

  .page {
    float: right;
    padding: 10px 0;
  }

  .el-rate {
    padding-top: 10px;
  }

</style>
