<template>
  <div class="app-container">
    <el-form :inline="true" :model="seacrhData" class="demo-form-inline">
      <el-form-item label="期号">
        <el-input v-model="seacrhData.dateNum" placeholder="请输入期号"></el-input>
      </el-form-item>
      <el-form-item label="题号">
        <el-input v-model="seacrhData.problemNum" placeholder="请输入题号"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="subjectData" border stripe style="width: 100%">
      <el-table-column prop="dateNum" label="期号" width="180">
      </el-table-column>
      <el-table-column prop="problemNum" label="题号" width="180">
      </el-table-column>
      <el-table-column label="完成度">
        <template slot-scope="scope">
          <span>{{scope.row && scope.row.complete}}%</span>
        </template>
      </el-table-column>
      <el-table-column prop="ranking" label="排行">
        <template slot-scope="scope">
          <el-button size="mini" type="text">
            <router-link to="/ranking">
              点亮排行
            </router-link>
          </el-button>
        </template>
      </el-table-column>
      <el-table-column prop="answer" label="学员答案">
        <template slot-scope="scope">
          <el-button size="mini" type="text">
            <router-link to="/answer">
              查看
            </router-link>
          </el-button>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button size="mini" @click="add(scope.$index, scope.row)">新增</el-button>
          <el-button size="mini" @click="edit(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="del(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-row class="page">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curpage"
        :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
      </el-pagination>
    </el-row>
    <el-dialog :title="titleForm" :visible.sync="dialogFormVisible" :before-close="closeDialog" width="40%" v-if="dialogFormVisible">
      <el-form :model="subjectForm">
        <el-form-item label="标题" :label-width="formLabelWidth" prop="titile">
          <el-input v-model="subjectForm.titile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="科目" :label-width="formLabelWidth" prop="subId">
          <el-select v-model="subjectForm.subId" placeholder="请选择科目">
            <el-option :label="item.name" :value="item.subId" :key="item.name" v-for="item in subject"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="类型" :label-width="formLabelWidth" prop="typeId">
          <el-select clearable filterable="" placeholder="请选择类型" v-model="subjectForm.typeId">
            <el-option :key="item.typeId" :label="item.type" :value="item.typeId" v-for="item in typeSub">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="内容" :label-width="formLabelWidth" prop="desc">
          <el-input type="textarea" v-model="subjectForm.desc"></el-input>
          <mavon-editor style="height: 100%" :toolbars="toolbars"></mavon-editor>
        </el-form-item>
        <el-form-item label="难度" :label-width="formLabelWidth" prop="rate">
          <el-rate v-model="subjectForm.rate" show-text>
          </el-rate>
        </el-form-item>
        <el-form-item label="出镜率" :label-width="formLabelWidth" prop="circle">
          <el-progress type="circle" :percentage="subjectForm.circle"></el-progress>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog()">取 消</el-button>
        <el-button type="primary" @click="submitFrom">保 存</el-button>
      </div>
    </el-dialog>
  </div>

</template>

<script>
  import VueMarkdown from 'vue-markdown';
  import {
    mavonEditor
  } from 'mavon-editor'
  import 'mavon-editor/dist/css/index.css'
  export default {
    data() {
      return {
        seacrhData: {
          dateNum: '',
          problemNum: ''
        },
        subjectData: [{
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
          titile: '第一道题',
          textarea: '',
          rate: 5,
          circle: 75,
          typeId: 3,
          subId: 2
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }, {
          dateNum: '20190912',
          problemNum: '20190912',
          complete: '90',
          ranking: '20190912',
          answer: '12',
        }],
        curpage: 1,
        subjectForm: {
          titile: '',
          textarea: '',
          rate: '',
          circle: 0,
          typeId: null,
          subId: null
        },
        titleForm: '',
        formLabelWidth: '120px',
        dialogFormVisible: false,
        subject: [{
          name: 'JavaScript',
          subId: 1
        }, {
          name: 'JavaScript2',
          subId: 2
        }, {
          name: 'JavaScript3',
          subId: 3
        }, ],
        typeSub: [{
          type: '选择题',
          typeId: 1
        }, {
          type: '问答题',
          typeId: 2
        }, {
          type: '编程题',
          typeId: 3
        }, {
          type: '判断题',
          typeId: 4
        }],
        toolbars: {
          bold: true, // 粗体
          italic: true, // 斜体
          header: true, // 标题
          alignleft: true, // 左对齐
          aligncenter: true, // 居中
          alignright: true, // 右对齐
        }
      }
    },
    components: {
      mavonEditor
    },
    methods: {
      onSearch() {
        console.log('查期号：' + this.seacrhData.dateNum, '查题号：' + this.seacrhData.problemNum)
      },
      add() {
        this.titleForm = '添加题库';
        this.dialogFormVisible = true;
      },
      edit(row) {
        this.titleForm = '编辑题库';
        this.dialogFormVisible = true;
        this.subjectForm = Object.assign({}, this.subjectForm, row);
      },
      del() {},
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },
      closeDialog(done) {
        if (done) {
          done();
        } else {
          this.dialogFormVisible = false;
        }
        this.subjectForm = this.$options.data().subjectForm;
      },
      submitFrom() {
        console.log(this.subjectForm)
      }
    }
  }

</script>

<style>
  .el-table thead {
    color: #5c5c5c !important;
  }

  .page {
    float: right;
    padding: 10px 0;
  }

  .el-rate {
    padding-top: 10px;
  }

</style>
