<template>
  <div class="app-container">
    <el-form :inline="true" :model="seacrhData" class="demo-form-inline">
      <el-form-item label="昵称">
        <el-input v-model="seacrhData.name" placeholder="请输入昵称"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="seacrhData.email" placeholder="请输入邮箱"></el-input>
      </el-form-item>
      <el-form-item label="需查询下级的用户">
          <el-input v-model="seacrhData.curId" placeholder="请输入需要查询下级的用户"></el-input>
        </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="userData" border stripe style="width: 100%" height="500" :default-sort="{prop:'goldNum',order:'descending'}">
      <el-table-column prop="name" label="昵称" width="100">
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="170">
      </el-table-column>
      <el-table-column prop="start" label="会员加入时间" width="110">
      </el-table-column>
      <el-table-column prop="end" label="会员到期时间" width="110">
      </el-table-column>
      <el-table-column prop="active" label="活跃度" width="110">
        <template slot-scope="scope">
          <span>{{scope.row && scope.row.active}}%</span>
        </template>
      </el-table-column>
      <el-table-column prop="goldNum" label="金牌次数" width="110">
      </el-table-column>
      <el-table-column prop="subordinate" label="下级人数" sortable width="110">
        <template slot-scope="scope">
          <el-button type="text" @click="seacrhSubordinate(scope.row)">
              {{scope.row && scope.row.subordinate.length}}人
          </el-button>
            
        </template>
      </el-table-column>
      <el-table-column prop="tab" label="标签" width="180">
        <template slot-scope="scope">
          <span v-for="(item,index) in scope.row.tab" class="user-tab">
              <el-tag size="mini" v-if="item=='金牌答主'" type="danger"  :key="index">
                  {{item}}
              </el-tag>
              <el-tag size="mini" v-else-if="item=='人脉王'" type="success"  :key="index">
                  {{item}}
              </el-tag>
              <el-tag size="mini" v-else-if="item=='长跑王'" type="warning" :key="index">
                  {{item}}
              </el-tag>
          </span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" type="danger" @click="del(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-row class="page">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curpage"
        :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
      </el-pagination>
    </el-row>
    <el-dialog :title="titleForm" :visible.sync="dialogFormVisible" :before-close="closeDialog" width="40%" v-if="dialogFormVisible">
      <el-form :model="subjectForm">
        <el-form-item label="标题" :label-width="formLabelWidth" prop="titile">
          <el-input v-model="subjectForm.titile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="科目" :label-width="formLabelWidth" prop="subId">
          <el-select v-model="subjectForm.subId" placeholder="请选择科目">
            <el-option :label="item.name" :value="item.subId" :key="item.name" v-for="item in subject"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="类型" :label-width="formLabelWidth" prop="typeId">
          <el-select clearable filterable="" placeholder="请选择类型" v-model="subjectForm.typeId">
            <el-option :key="item.typeId" :label="item.type" :value="item.typeId" v-for="item in typeSub">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="内容" :label-width="formLabelWidth" prop="desc">
          <el-input type="textarea" v-model="subjectForm.desc"></el-input>
          <mavon-editor style="height: 100%" :toolbars="toolbars"></mavon-editor>
        </el-form-item>
        <el-form-item label="难度" :label-width="formLabelWidth" prop="rate">
          <el-rate v-model="subjectForm.rate" show-text>
          </el-rate>
        </el-form-item>
        <el-form-item label="出镜率" :label-width="formLabelWidth" prop="circle">
          <el-progress type="circle" :percentage="subjectForm.circle"></el-progress>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog()">取 消</el-button>
        <el-button type="primary" @click="submitFrom">保 存</el-button>
      </div>
    </el-dialog>
  </div>

</template>

<script>
  import VueMarkdown from 'vue-markdown';
  import {
    mavonEditor
  } from 'mavon-editor'
  import 'mavon-editor/dist/css/index.css'
  export default {
    data() {
      return {
        seacrhData: {
          name: '',
          email: '',
          curId:''
        },
        userData: [
          {
          id:1,
          name: 'yzren',
          email: '2514854769@qq.com',
          start: '2018-10-10',
          end: '2018-10-10',
          active: '20',
          goldNum: 100,
          subordinate: ['yzren2', 'yzren34', 'yzren32', 'yzren35'],
          tab: ['人脉王', '金牌答主', '长跑王']
        }, {
          id:11,
          name: 'yzren',
          email: '2514854769@qq.com',
          start: '2018-10-10',
          end: '2018-10-10',
          active: '20',
          goldNum: 100,
          subordinate: ['yzren2', 'yzren32', 'yzren35', 'yzren3g', 'yzren33f'],
          tab: ['人脉王', '金牌答主', '长跑王']
        }, {
          id:12,
          name: 'yzren1',
          email: '2514854769@qq.com',
          start: '2018-10-10',
          end: '2018-10-10',
          active: '20',
          goldNum: 10,
          subordinate: ['yzren2', '嘿嘿3', 'gg', 'yzrenfefe3', '嘿嘿'],
          tab: ['人脉王', '金牌答主', '长跑王']
        }, {
          id:13,
          name: 'yzren22',
          email: '2514854769@qq.com',
          start: '2018-10-10',
          end: '2018-10-10',
          active: '20',
          goldNum: 900,
          subordinate: ['yzren2', 'yzren3', 'yzren33', 'yzren分我3', 'vv', '纷纷', '二二二', '微风粉', '儿歌'],
          tab: ['人脉王', '金牌答主', '长跑王']
        }, {
          id:14,
          name: 'yzren33',
          email: '2514854769@qq.com',
          start: '2018-10-10',
          end: '2018-10-10',
          active: '20',
          goldNum: 20,
          subordinate: ['yzren2', 'yzren3', 'yzren3'],
          tab: ['人脉王', '金牌答主']
        }],
        curpage: 1,
        dialogFormVisible: false,
      }
    },
    components: {
      mavonEditor
    },
    methods: {
      onSearch() {
        console.log('查期号：' + this.seacrhData.name, '查题号：' + this.seacrhData.email,'查下级：' + this.seacrhData.curId)
      },
      add() {
        this.titleForm = '添加题库';
        this.dialogFormVisible = true;
      },
      edit(row) {
        this.titleForm = '编辑题库';
        this.dialogFormVisible = true;
        this.subjectForm = Object.assign({}, this.subjectForm, row);
      },
      del() {},
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },
      closeDialog(done) {
        if (done) {
          done();
        } else {
          this.dialogFormVisible = false;
        }
        this.subjectForm = this.$options.data().subjectForm;
      },
      submitFrom() {
        console.log(this.subjectForm)
      },
      seacrhSubordinate(row){
        console.log(row)
        this.seacrhData.curId=row.id;
        this.onSearch();
      }
    }
  }

</script>

<style>
  .el-table thead {
    color: #5c5c5c !important;
  }

  .page {
    float: right;
    padding: 10px 0;
  }

  .el-rate {
    padding-top: 10px;
  }
  .user-tab{
    margin: 2px;
    display: inline-block;
  }
</style>
